# Ignore pycache
src/open_arca/**/__pycache__

# Ignore credentials files
src/open_arca/credentials/testing/**/*.pem

# Ignore log files
src/open_arca/logs/*.log

# Ignore access ticket files
src/open_arca/access_tickets/**/*.json
